*{
    box-sizing: border-box;
}

html,body{
    height:100vh ;
    width: 100vw;
    margin: 0;
}
.container-fluid {
    margin-bottom: 5rem;
}
.navbar-brand:hover{
    background-color: transparent;
}

a:hover{
    color:#9D5F36 ;
}

li.nav-item a:hover{
    background-color:transparent;
}


.text-info{
    margin-left:5rem ;
    margin-bottom: 4rem;
}
.text-info  h1,p{
    color: bisque;
}

.img-info img{
    width:50vw;
}

.container-fluid{
    height: 100vh;
    background-color: #D08236;
    /* background-color: #E2AD6A ; */
    /* background-color: #412519; */
    /* background-color: rgb(24,56,28); */
}

img{
    height: 100vh;
    filter: blur(2px);
}

.btn{
        /* color:#fff */
        border-color:  rgb(255, 255, 255);
        /* color: #FFF; */
        color: bisque;
        /* background-color: #E2AD6A; */
        border-bottom-right-radius: 60px;
        border-radius: 50px;
        padding:10px 25px;
}

a:hover{
    background-color: bisque;
    /* background-color:#fff; */
    /* color: #9D5F36; */
}

a.btn:hover{
    color:#9D5F36;
}

h1 {
    font-size: 5rem;
}

.wave{
    width:39.49rem;
    position: absolute;
    bottom: 39%;
    left:30%;
    transform: rotate(90deg);
    /* transform: rotate(0.5turn); */
}
.wrapper{
    position: absolute;
    bottom: 2%;
    left: 80%;
    color: bisque;
    /* color: #FFF; */
}
.wrapper .h1:hover{
    color: #9D5F36;
}

@media(max-width:576px){
    .container-fluid{
        height: 100vh;
        background-image: url(janko.jpg);
        background-repeat: none;
        filter: blur(4px);
    }

    br{
        display: none;
    }

    .text-info{
        background-color:  rgb(208,130,54); /* Fallback color */
        background-color: rgba(208,130,54); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        filter: blur(0);
        border-radius: 73% 100% 35% 95% / 45% 91% 76% 75% ;  
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
    }

    .text-info h1{
        font-size: 2rem;
    }

    .img-info{
        display: none;
    }

    svg{
        display: none;
    }
}










#bean1{
    position: absolute;
    bottom:10%;
    left:-1% ;
    transform: rotate(-10deg);
    opacity: 0.3; 
}
#bean2{
    position: absolute;
    top:-1%;
    left:40% ;
    transform: rotate(70deg);
    opacity: 0.3;
}
#bean3{
    position: absolute;
    bottom:27%;
    left:20%;
    opacity: 0.3;
}
#bean4{
    position: absolute;
    bottom:30%;
    left: 45%;
    transform: rotate(60deg);
    opacity: 0.3;
}
#bean5{
    position: absolute;
    bottom:67%;
    left:23% ;
    opacity: 0.3;
}
#bean6{
    position: absolute;
    bottom:0%;
    right:45% ;
    transform: rotate(90deg);
    z-index: 1;
    opacity: 0.3;
}














